<html lang="ru">
    <head>
        <title>Чат</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container mt-3" id="app">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <input v-model="name" v-on:change="setName" type="text" class="form-control" placeholder="Введите имя">
                    </div>
                    <div class="form-group">
                        <input v-model="message" v-on:keyup.enter="sendMessage" type="text" class="form-control" placeholder="Введите сообщение">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Сообщения</label>
                    <div class="row container" v-for="message in messages.slice().reverse()">
                        <div class="card mb-3">
                            <div class="card-body">
                                [{{ message.time | moment("hh:mm:ss") }}] {{ message.user }}: {{ message.text}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label>Пользователи</label>
                    <ul class="list-group">
                        <li class="list-group-item"  v-for="user in users">
                            <span v-if="user.name">{{ user.name }}</span><i v-else>Anonymous</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js'
            import VueSimpleAlert  from "https://jspm.dev/npm:vue-simple-alert";
            import VueMoment  from "https://jspm.dev/npm:vue-moment";

            Vue.use(VueSimpleAlert);
            Vue.use(VueMoment);

            let app = new Vue({
                el: '#app',
                mounted() {
                    this.websocket = new WebSocket("ws://" + location.host + "/websocket");
                    this.websocket.onopen = function () {
                    }
                    this.websocket.onmessage = function (event) {
                        let rpc = JSON.parse(event.data)
                        console.log("income", rpc)
                        switch (rpc.method) {
                            case "set_user_list":
                                this.users = rpc.users
                                break
                            case "broadcast":
                                this.messages.push(rpc.message);
                                break
                            case  "error":
                                this.$alert(rpc.message, "", "error");
                                break
                        }
                    }.bind(this)
                },
                data: {
                    name: '',
                    message: '',
                    users: [
                        {
                            name: 'user 1'
                        },
                        {
                            name: 'user 2'
                        }
                    ],
                    messages: [],
                    websocket: null
                },
                methods: {
                    sendMessage: function () {
                        this.rpc({
                            method: "broadcast",
                            message: this.message
                        })
                        this.message = ''
                    },
                    setName: function () {
                        this.rpc({
                            method: "set_name",
                            name: this.name
                        })
                    },
                    rpc: function (method) {
                        console.log("outgoing", method)
                        this.websocket.send(JSON.stringify(method))
                    }
                }
            })
        </script>
    </body>
</html>